# =============================================================================
# USAGE: python install.py
# REQUIRES: Virtual Environment is Running
# DESCRIPTION: `requirements_raspbian.txt` installs all dependant packages for the 
#               Raspberry Pi on the Saluminator(R)
# =============================================================================
virtualenv
setuptools
wheel
asyncio
asyncua
cryptography
wifi
dataclasses
paho-mqtt
azure.iot.device
azure.identity
azure.keyvault.certificates
azure.keyvault.secrets
azure.keyvault.keys